<h1 class="text-5xl font-extrabold text-slate-800">
    New Student
</h1>
<div class="flex flex-col p-4 w-2/3">
    <form [formGroup]="student_form" (ngSubmit)="createStudent()">
        <div class="w-full py-2"> <!-- F I R S T   N A M E -->
            <label for="first_name" class="text-sm font-medium text-slate-700">First Name <span
                    class="text-red-700">*</span> </label>
            <input required class="w-full px-3 py-3 shadow-xs rounded-xl border-default-medium bg-neutral-secondary-medium border 
                text-base text-slate-900 border-slate-500" placeholder="First Name" formControlName="first_name"
                type="text" id="first_name" name="first_name" />
            <div class="px-4">
                @if (student_form.get('first_name')?.invalid && (student_form.get('first_name')?.dirty ||
                student_form.get('first_name')?.touched)) {
                @if(student_form.get('first_name')?.errors?.["required"]){
                <span class="text-xs text-red-700 italic">First name is required</span>
                }
                @if(student_form.get('first_name')?.errors?.["minlength"]){
                <span class="text-xs text-red-700 italic">First name must be at least 2 characters long</span>
                }
                }
            </div>
        </div>
        <div class="w-full py-2">
            <label for="middle_name" class="text-sm font-medium text-slate-700">Middle Name</label>
            <input class="w-full px-3 py-3 shadow-xs rounded-xl border-default-medium bg-neutral-secondary-medium border 
                text-base text-slate-900 border-slate-500" placeholder="Middle Name" formControlName="middle_name"
                type="text" id="middle_name" name="middle_name" />
            <div class="px-4">
                @if (student_form.get('middle_name')?.invalid && (student_form.get('middle_name')?.dirty ||
                student_form.get('middle_name')?.touched)) {
                @if(student_form.get('middle_name')?.errors?.["minlength"]){
                <span class="text-xs text-red-700 italic">Middle name must be at least 2 characters long</span>
                }
                }
            </div>
        </div>
        <div class="w-full py-2">
            <label for="last_name" class="text-sm font-medium text-slate-700">Last Name <span
                    class="text-red-700">*</span></label>
            <input required class="w-full px-3 py-3 shadow-xs rounded-xl border-default-medium bg-neutral-secondary-medium border 
                text-base text-slate-900 border-slate-500" placeholder="Last Name" formControlName="last_name"
                type="text" id="last_name" name="last_name" />
            <div class="px-4">
                @if (student_form.get('last_name')?.invalid && (student_form.get('last_name')?.dirty ||
                student_form.get('last_name')?.touched)) {
                @if(student_form.get('last_name')?.errors?.["required"]){
                <span class="text-xs text-red-700 italic">Last name is required</span>
                }
                @if(student_form.get('last_name')?.errors?.["minlength"]){
                <span class="text-xs text-red-700 italic">Last name must be at least 2 characters long</span>
                }
                }
            </div>
        </div>
        <div class="w-full py-2">
            <fieldset>
                <legend><span class="text-sm font-medium text-slate-700">Gender</span></legend>
                <div class="flex flex-row space-x-4">
                    <div class="flex flex-row space-x-2">
                        <label class="text-slate-700"><input name="gender" type="radio" [value]="'f'"
                                formControlName="gender" />Femenine</label>
                    </div>
                    <div class="flex flex-row space-x-2">
                        <label class="text-slate-700"><input name="gender" type="radio" [value]="'m'"
                                formControlName="gender" />Masculine</label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="flex flex-row justify-end py-2">
            <div class="w-1/3 flex flex-row justify-between ">
                <button type="button" [routerLink]="['/student']"
                    class="bg-slate-100 text-slate-800 rounded-2xl shadow font-medium text-sm px-7 py-2 border">Cancel</button>
                @if(student_form.valid){
                <input type="submit"
                    class="text-slate-100 bg-slate-800 rounded-2xl shadow font-medium text-sm px-7 py-2 border border-slate-800" />
                } @else{
                <input type="submit" disabled
                    class="text-slate-400 bg-slate-200 rounded-2xl shadow font-medium text-sm px-7 py-2 border border-slate-200" />
                }
            </div>
        </div>
    </form>
</div>