/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

h1,h2,h3{
    font-family: 'Merriweather', Times, serif;
}

html{
    font-family: 'Poppins', sans-serif;
    /* font-size: 70%; */
}
@media(min-width: 1024px){
    html{
        font-size: 100%;
    }
}

